<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/37d01ba303.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/customer/add_customer}">
    <button>Add new customer</button>
</a>
<br>
<div class="input-group rounded">
    <input aria-describedby="search-addon" aria-label="Search" class="form-control rounded" placeholder="Search"
           type="search"/>
    <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>
<br>

<table class="table table-light">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Personal Code</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${all_customers}">
        <td scope="row" th:text="${customer.getId()}"></td>
        <td scope="row" th:text="${customer.getCustomerName()}"></td>
        <td scope="row" th:text="${customer.getCustomerSurname()}"></td>
        <td scope="row" th:text="${customer.getPersonalCode()}"></td>
        <td scope="row" th:text="${customer.getCustomerEmail()}"></td>
        <td>
            <a th:href="@{'/customer/edit/' + ${customer.id}}">Edit</a>
        <td><a class="btn btn-primary" th:href="@{/customer/delete/{id}(id=${customer.getId()})}"><i
                class="fas fa-trash"></i></a></td>
        </td>
    </tr>
    </tbody>

</table>


</body>
</html>