<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/37d01ba303.js"></script>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<h2 style="color: aqua; text-align: center">Edit here</h2>

<form action="#" th:action="@{/customers/save_customer}">

</form>

<div class="col-md-4">


    <form action="#" th:action="@{/customer}" name="Add new customer" th:object="${customer}" th:method="POST">
        <input th:field="*{id}" type="hidden">

        <div class="mb-3">
            <label class="form-label" for="customerName">First name</label>
            <input aria-describedby="emailHelp" class="form-control" id="customerName" th:field="*{customerName}"
                   type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="customerSurname">Last name</label>
            <input class="form-control" id="customerSurname" th:field="*{customerSurname}" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="personal_code">Personal code</label>
            <input class="form-control" id="personal_code" required th:field="*{personalCode}" type="text">
<!--            <div style="color: red" th:errors="*{personalCode}" th:if="${#fields.hasErrors('personalCode')}">-->
<!--                Personal code error-->
<!--            </div>-->
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input aria-describedby="emailHelp" class="form-control" id="email" th:field="*{customerEmail}" type="email">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>


<br>
<a href="/customer">go back</a>
</body>
</html>